.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 155px;
    min-height: 192px;
    background: $main-color;

    &__form {
        position: relative;

        &_input {
            display: block;
            margin: 0 auto;
            width: 424px;
            height: 59px;
            background: #FFFFFF;
            border: 1px solid rgba(0, 0, 0, 0.8);
            box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.4);
            font-family: 'Roboto';
            border-radius: 40px;
            font-weight: 400;
            font-size: 18px;
            padding-left: 16px;
            color: rgba(0, 0, 0, 0.6);
        }

        &_btn {
            position: absolute;
            top: 9px;
            right: 8px;
            width: 43px;
            height: 43px;
            border: none;
            border-radius: 50%;
            background: url('../img/arrow.svg') no-repeat #DF2224 center;

        }
    }

    &__other {
        position: absolute;
        right: 111px;

        &_btn {
            position: relative;
            border: none;
            background-color: transparent;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            position: relative;
            display: inline-block;
            color: #FFFFFF;

            .btn_text {
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    left: 50%;
                    width: 0;
                    height: 2px;
                    background-color: #FFFFFF;
                    transform: translateX(-50%);
                    transition: width 0.3s ease-in-out;
                }

                &:hover::before {
                    width: 100%;
                }
            }
        }

        &_arrow {
            margin-left: 10px;
            transform: translateY(4px);
            transition: transform 0.3s ease-in-out;
        }

        .rotated {
            transform: translateY(4px) rotate(180deg);
        }
    }
}

@media screen and (max-width: 992px) {
    .footer {
        min-height: 160px;

        &__form {
            margin-top: -40px;

            &_input {
                width: 360px;
                height: 41px;
                font-size: 14px;
            }

            &_btn {
                top: 5px;
                width: 33px;
                height: 33px;
            }
        }

        &__other {
            right: auto;
            margin-top: 60px;

            &_btn {
                font-size: 16px;
            }
        }

    }
}

@media screen and (max-width: 560px) {
    .footer {
        min-height: 160px;

        &__form {
            margin-top: -30px;

            &_input {
                width: 280px;
            }

            &_btn {
                top: 5px;
                width: 33px;
                height: 33px;
            }
        }

        &__other {
            right: auto;
            margin-top: 60px;

            &_btn {
                font-size: 16px;
            }
        }

    }
}