$accent-color: #ff1e00;
$dark-color: rgba(18, 18, 18, 0.7);
$background-color: #162C4E;
$font-family: 'SF Pro Display',
sans-serif;

.other-events {
    display: none;    margin-bottom: 99px;


    &__title {
        margin-top: 110px;
        opacity: 0;
        animation: show-title 1.5s forwards;
        animation-delay: 0.5s;
    }
}

.carousel {
    min-height: 682px;
    margin-top: 40px;
    display: flex;
    justify-content: center;

    &__slide {
        position: relative;
        display: flex;
        max-width: 85px;
        border-bottom: 2px solid $accent-color;
        box-shadow: 0px -10px 10px -8px rgba(255, 30, 0, 0.75) inset;
        transition: 0.8s;
        overflow: hidden;

        &:not(:last-child) {
            margin-right: 4px;
        }

        &.active {
            max-width: 1082px;
            width: 100%;

            & .event__wrapper_image {
                display: none;
            }
        }
    }
}

.event__wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 85px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;

    &_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_info {
        margin-bottom: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;

        &_vertical {
            margin-bottom: 40px;
            font-family: $font-family;
            font-weight: 600;
            font-size: 32px;
            line-height: 100%;
            color: #FFFFFF;
            writing-mode: vertical-rl;
            transform: rotate(-180deg);
        }

        &_horizontal {
            font-family: $font-family;
            font-weight: 500;
            font-size: 40px;
            letter-spacing: -0.03em;
            color: #FFFFFF;
        }
    }
}

.event__detailed {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #FF1E00;
    overflow: hidden;

    &_num {
        position: absolute;
        top: -40px;
        left: -123px;
        font-family: $font-family;
        font-weight: 600;
        font-size: 380px;
        line-height: 100%;
        text-align: right;
        letter-spacing: -0.03em;
        color: rgba(255, 255, 255, 0.04);
    }

    &_image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &_num {
        position: absolute;
        top: -40px;
        left: -123px;
        font-family: $font-family;
        font-weight: 600;
        font-size: 380px;
        line-height: 100%;
        letter-spacing: -0.03em;
        color: rgba(255, 255, 255, 0.04);
    }

    &_info {
        padding-left: 42px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        max-width: 364px;
        width: 100%;
        height: 100%;
        background: rgba(18, 18, 18, 0.8);
        backdrop-filter: blur(20px);



        &_title {
            font-family: $font-family;
            font-weight: 600;
            font-size: 24px;
            line-height: 120%;
            color: #FFFFFF;
        }

        &_date {
            margin-top: 12px;
            font-family: $font-family;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.8);
        }

        &_btn {
            margin-top: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 213px;
            height: 62px;
            margin-bottom: 20px;
            font-family: $font-family;
            font-weight: 600;
            font-size: 18px;
            line-height: 120%;
            letter-spacing: 0.03em;
            color: rgba(255, 255, 255, 0.8);
            border: 2px solid rgba(255, 255, 255, 0.8);
            border-left: 7.71px solid #FFFFFF;
            cursor: pointer;

            &:hover {
                color: #FFFFFF;
                background: #162C4E;
                border: 2px solid #162C4E;
                border-left: 7.71px solid #162C4E;
                transition: 0.3s;
            }
        }
    }
}

.carousel__slide:not(.active) .event__wrapper:after {
    position: absolute;
    content: "";
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%);
    background-blend-mode: darken;
    transition: 0.8s ease;
    opacity: 1;
}

.carousel__slide.active .event__wrapper {
    max-width: 85px;
    margin-right: 2px;
    background: $main-color;
}

.tablet-show {
    display: none;
}


@media screen and (max-width: 992px) {
    .other-events {
        min-height: 100vh;

        &__title {
            margin-top: 46px;
            font-size: 36px;
        }
    }

    .tablet-show {
        display: flex;
    }

    .tablet-hidden {
        display: none;
    }

    .carousel {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;

        &__slide {
            flex-direction: column-reverse;
            margin-bottom: 4px;
            max-width: 100%;
            width: 100%;
            height: 85px;
            transition: none;
            box-shadow: 0 5px 4px -4px rgba(255, 30, 0, 0.8);

            &.active {
                height: 100%;
                box-shadow: none;
            }

            &:not(.active) .event__wrapper:after {
                background: linear-gradient(270deg, rgba(18, 18, 18, 0.7) 0%, #162C4E 100%);
            }

            &.active .event__wrapper {
                max-width: 100%;
                margin-right: 0;
                border-bottom: none;
            }

        }

        .event__wrapper {
            justify-content: flex-start;
            align-items: center;
            max-width: 100%;
            width: 100%;
            min-height: 85px;

            &_info {
                margin: 0px 0px 0px 40px;
                flex-direction: row-reverse;

                &_vertical {
                    margin: 0 0 0 32px;
                    font-size: 24px;
                    writing-mode: horizontal-tb;
                    transform: none;
                }

                &_horizontal {
                    font-size: 32px;
                    text-align: right;
                }
            }
        }

        .event__detailed {
            max-height: 688px;
            display: flex;
            flex-direction: column;
            border-bottom: none;
            margin: 0 0 4px 0;

            &_image {
                position: unset;
                max-height: 460px;

            }

            &_num {
                top: -15px;
                right: 5px;
                font-size: 152px;
            }

            &_info {
                position: absolute;
                bottom: 0;
                justify-content: center;
                height: 192px;
                max-width: 100%;

                &_title {
                    margin-top: 25px;
                    font-size: 18px;
                    line-height: 120%;
                }

                &_date {
                    margin-top: 8px;
                    font-size: 16px;
                }

                &_btn {
                    width: 169px;
                    height: 44px;
                    margin: 29px 0 40px;
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 560px) {
    .other-events {
        margin-bottom: 52px;

        &__title {
            margin-top: 59px;
            font-size: 36px;
        }
    }

    .carousel {



        .event__wrapper {

            height: 64px;

            &_info {
                margin: 0px 0px 0px 20px;

                &_vertical {
                    margin: 0 0 0 16px;
                    font-size: 18px;
                }

                &_horizontal {
                    font-size: 24px;
                }
            }
        }

        .event__detailed {
            max-height: 376px;

            &_image {
                min-height: 376px;
            }

            &_num {
                top: 14px;
                right: 26px;
                font-size: 80px;
            }

            &_info {
                height: 158px;

                &_title {
                    margin-top: 24px;
                    font-size: 16px;
                }

                &_date {
                    font-size: 14px;
                }

                &_btn {
                    width: 138px;
                    margin: 22px 0 20px;
                    font-size: 13px;
                }
            }
        }
    }
}




@keyframes show-title {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}